@import 'arui-feather/vars.css';

.pre {
    display: block;
    margin: 36px 0;
    padding: var(--gap-l);
    color: var(--color-dark-indigo);
    font-size: var(--font-size-m);
    line-height: 1.5;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre;
    background-color: var(--color-dark-indigo-05);

    .view-with-theme-switcher__layout_theme_alfa-on-color & {
        background-color: #f3f4f5;
    }

    code {
        margin: 0;
        padding: 0;
        white-space: pre;
        background-color: transparent;

        .view-with-theme-switcher__layout_theme_alfa-on-color & {
            background-color: transparent;
        }
    }
}
