.playground {
    position: relative;
    margin: 26px 0 36px;

    @media (min-width: 1160px) {
        margin-right: -240px;
    }

    &__tab {
        position: relative;
    }

    &__share-button {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        min-width: 40px;
        padding: 0;
        color: inherit;
        font-size: 16px;
    }

    &__code-button {
        position: absolute;
        z-index: 10;
        bottom: 100%;
        right: 0;
        min-width: 40px;
        padding: 0;
        color: inherit;
        font-size: 16px;
        opacity: 0.5;
    }
}
