.cm-s-base16-light.CodeMirror { background: rgba(243, 244, 245, 1) !important; }
.cm-s-base16-light.CodeMirror { color: rgba(11, 31, 53, 0.85) !important; }
.cm-s-base16-light div.CodeMirror-selected { background: rgba(219, 222, 225, 1) !important; }
.cm-s-base16-light .CodeMirror-gutters { background: rgba(245, 245, 245, 1) !important; }
.cm-s-base16-light .CodeMirror-guttermarker { color: rgba(255, 92, 92, 1)!important; }
.cm-s-base16-light .CodeMirror-guttermarker-subtle { color: rgba(183, 186, 188, 1) !important; }
.cm-s-base16-light .CodeMirror-linenumber { color: rgba(183, 186, 188, 1) !important; }
.cm-s-base16-light .CodeMirror-cursor { border-color: rgba(11, 31, 53, 0.85) !important; }
.cm-s-base16-light span.cm-comment { color: rgba(183, 186, 188, 1) !important; }
.cm-s-base16-light span.cm-atom { color: rgba(199, 117, 218, 1) !important; }
.cm-s-base16-light span.cm-number { color: rgba(210, 132, 69, 1) !important; }
.cm-s-base16-light span.cm-property { color: rgba(93, 174, 242, 1) !important; }
.cm-s-base16-light span.cm-attribute { color: rgba(144, 188, 114, 1) !important; }
.cm-s-base16-light span.cm-keyword { color: rgba(199, 117, 218, 1) !important; }
.cm-s-base16-light span.cm-string { color: rgba(210, 132, 69, 1) !important; }
.cm-s-base16-light span.cm-string-2 { color: rgba(11, 31, 53, 0.85) !important; }
.cm-s-base16-light span.cm-variable { color: rgba(226, 107, 115, 1) !important; }
.cm-s-base16-light span.cm-variable-2 { color: rgba(93, 174, 242, 1)  !important; }
.cm-s-base16-light span.cm-def { color: rgba(210, 132, 69, 1) !important; }
.cm-s-base16-light span.cm-bracket { color: rgba(11, 31, 53, 0.85) !important; }
.cm-s-base16-light span.cm-tag { color: rgba(11, 31, 53, 0.85) !important; }
.cm-s-base16-light span.cm-link { color: rgba(199, 117, 218, 1) !important; }
.cm-s-base16-light span.cm-error { background: rgba(255, 92, 92, 1) !important; }
.cm-s-base16-light span.cm-error { color: rgba(243, 244, 245, 1) !important; }
.cm-s-base16-light .CodeMirror-activeline-background { color: rgba(11, 31, 53, 0.85) !important; }
.cm-s-base16-light .CodeMirror-matchingbracket { color: rgba(243, 244, 245, 1) !important; }

.styleguide_theme_alfa-on-color {
    .cm-s-base16-light.CodeMirror { background: rgba(243, 244, 245, 0.05) !important; }
    .cm-s-base16-light.CodeMirror { color: rgba(243, 244, 245, 0.85) !important; }
    .cm-s-base16-light div.CodeMirror-selected { background: rgba(35, 53, 73, 1) !important; }
    .cm-s-base16-light .CodeMirror-gutters { background: rgba(11, 31, 53, 0.85) !important; }
    .cm-s-base16-light .CodeMirror-guttermarker { color: rgba(255, 92, 92, 1) !important; }
    .cm-s-base16-light .CodeMirror-guttermarker-subtle { color: rgba(183, 186, 188, 0.6) !important; }
    .cm-s-base16-light .CodeMirror-linenumber { color: rgba(183, 186, 188, 0.6) !important; }
    .cm-s-base16-light .CodeMirror-cursor { border-color: rgba(183, 186, 188, 0.6) !important; }
    .cm-s-base16-light span.cm-comment { color: rgba(183, 186, 188, 0.6) !important; }
    .cm-s-base16-light span.cm-atom { color: rgba(199, 117, 218, 1) !important; }
    .cm-s-base16-light span.cm-number { color: rgba(210, 132, 69, 1) !important; }
    .cm-s-base16-light span.cm-property { color: rgba(93, 174, 242, 1) !important; }
    .cm-s-base16-light span.cm-attribute { color: rgba(144, 188, 114, 1) !important; }
    .cm-s-base16-light span.cm-keyword { color: rgba(199, 117, 218, 1) !important; }
    .cm-s-base16-light span.cm-string { color: rgba(210, 132, 69, 1) !important; }
    .cm-s-base16-light span.cm-string-2 { color: rgba(243, 244, 245, 0.85) !important; }
    .cm-s-base16-light span.cm-variable { color: rgba(226, 107, 115, 1) !important; }
    .cm-s-base16-light span.cm-variable-2 { color: rgba(93, 174, 242, 1) !important; }
    .cm-s-base16-light span.cm-def { color: rgba(210, 132, 69, 1) !important; }
    .cm-s-base16-light span.cm-bracket { color: rgba(243, 244, 245, 0.85) !important; }
    .cm-s-base16-light span.cm-tag { color: rgba(243, 244, 245, 0.85) !important; }
    .cm-s-base16-light span.cm-link { color: rgba(199, 117, 218, 1) !important; }
    .cm-s-base16-light span.cm-error { background: rgba(255, 92, 92, 1) !important; }
    .cm-s-base16-light span.cm-error { color: rgba(243, 244, 245, 1) !important; }
    .cm-s-base16-light .CodeMirror-activeline-background { color: rgba(243, 244, 245, 0.85) !important; }
    .cm-s-base16-light .CodeMirror-matchingbracket { color: rgba(255, 255, 255, 1) !important; }
}

.playground .CodeMirror-scroll {
    margin-right: -31px;
}
