.styleguide-logo {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: var(--gap-m);

    img {
        width: auto;
        height: auto;
        max-height: 200px;
    }
}
