.docs-tab table {
    margin: 0 0 24px;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        th, td {
            padding: 0 12px 9px 0;
            font-size: 13px;
            line-height: 1.5;
            font-weight: normal;
            text-align: left;
            vertical-align: top;
            border-bottom: 3px solid rgba(11, 31, 53, 0.1);

            .view-with-theme-switcher__layout_theme_alfa-on-color & {
                color: rgba(255, 255, 255, 0.6);
                border-bottom-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    tbody {
        th, td {
            padding: 9px 12px 9px 0;
            font-size: 13px;
            line-height: 1.5;
            font-weight: normal;
            text-align: left;
            vertical-align: top;
            border-bottom: 1px solid rgba(11, 31, 53, 0.1);

            .rsg--baseColor-17 {
                color: inherit;
            }

            .view-with-theme-switcher__layout_theme_alfa-on-color & {
                color: #fff;
                border-bottom-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    code {
        padding: 0;
        font-size: 13px;
        background-color: transparent;
    }

    p, div {
        margin: 0;
        font-size: 100%;
    }
}
