@import 'arui-feather/vars.css';

.pathline {
    margin: var(--gap-s-neg) 0 var(--gap-2xl);
    font-size: var(--font-size-m);
    line-height: 1.2;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

    &_theme_alfa-on-color {
        color: var(--color-white-30);
    }

    &_theme_alfa-on-white {
        color: var(--color-dark-indigo-30);
    }

    &__copy-button {
        position: absolute;
        margin-top: -4px;
        color: inherit;
        opacity: 0.5;

        &:active {
            opacity: var(--opacity-active);
        }

        svg {
            width: auto;
            height: 16px;
            fill: currentColor;
        }
    }
}
