@import 'arui-feather/vars.css';
@import '@alfalab/core-components-vars/colors-bluetint.css';

.view-with-theme-switcher {
    &__layout {
        &_theme_alfa-on-white {
            color: var(--color-content-alfa-on-white);
            background: var(--color-background-alfa-on-white);
        }

        &_theme_alfa-on-color {
            color: var(--color-content-alfa-on-color);
            background: color(var(--color-background-alfa-on-color) a(.9));
        }

        &_theme_alfa-dark {
            color: var(--color-dark-text-primary);
            background: var(--color-dark-bg-primary);
        }

        &_theme_alfa-light {
            color: var(--color-light-text-primary);
            background: var(--color-light-bg-primary);
        }
    }

    &__wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
    }

    &__button-group {
        display: none;

        @media (--medium) {
            display: block;
        }
    }

    &__theme-select {
        position: fixed;
        right: 14px;
        top: 14px;
        padding: var(--gap-xs);
        background-repeat: no-repeat;
        appearance: none;
        box-shadow: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
