@import 'arui-feather/vars.css';

.view-with-theme-switcher {
    &__layout {
        &_theme_alfa-on-white {
            color: var(--color-content-alfa-on-white);
            background: var(--color-background-alfa-on-white);
        }

        &_theme_alfa-on-color {
            color: var(--color-content-alfa-on-color);
            background: color(var(--color-background-alfa-on-color) a(.9));
        }
    }

    &__wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
    }

    &__button-group {
        display: none;

        @media (--medium) {
            display: block;
        }
    }

    &__button {
        position: fixed;
        right: 14px;
        top: 14px;
        width: 36px;
        height: 36px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 36px 36px;
        background-image: url('./icons/on-white.svg');
        appearance: none;
        box-shadow: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &_theme_alfa-on-white {
            background-image: url('./icons/on-color.svg');
        }

        &_selected {
            display: none;
        }
    }
}
